@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  font-family: "Dancing Script", cursive;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(196, 147, 243);
  margin: 0;
  padding: 0;
}
body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body::before {
  background: linear-gradient(
      to bottom right,
      transparent 49.5%,
      rgba(255, 255, 255, 0.4) 50%
    )
    fixed;
  animation: lines 20s infinite linear;
}

body::after {
  background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.4) 49.5%,
      transparent 50%
    )
    fixed;
  animation: lines-reverse 20s infinite linear;
}

@keyframes lines {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes lines-reverse {
  0% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(-100%, -100%);
  }
}

h1 {
  display: flex;
  text-align: center;
  font-size: 180px;
  margin-bottom: 5px;
  margin-top: 10px;
  animation: rebond 2s ease 0s 1 normal forwards;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(2, 3, 4);
  font-size: 50px;
  animation: rebondInverse 2s ease 0s 1 normal forwards;
}

h3 {
  display: flex;
  justify-content: center;
  color: rgb(2, 3, 4);
  font-size: 30px;
}
header {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
.mobile {
  display: none;
}
.desktop {
  display: flex;
}
nav {
  border-radius: 10px;
  background-color: aliceblue;
  border: 5px solid #5d2061;
  position: fixed;
  top: 0;
  width: 95%;
  height: 70px;
  z-index: 10000;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  background-color: aliceblue;
  color: transparent;
  font-size: 30px;
  text-decoration: none;
  -webkit-text-stroke: 2px red;
  border-radius: 5px;
}
.presentation {
  margin-bottom: 350px;
  position: relative;
  opacity: 0;
  animation: fadein 1s ease 2s 1 normal forwards;
}
.presentation p {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 8%;
  margin-left: 8%;
  display: flex;
  font-size: 50px;
  color: #5d2061;
}
@keyframes fromLeft {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallery {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 9%;
  border: 5px solid #5d2061;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 150px;
  background-color: white;
}
.classement{
  position:absolute;
  top:93%;
  left:50%;
  font-size: 20px;
}
.container {
  /* background-color: white; */
  border-radius: 100px;
}
.containerWork {
  width: 80%;
  height: 800px;
}
.bloc_comments {
  display: none;
  width: 0%;
  opacity: 0%;
  margin-top: 20px;
}
.bloc_comments p {
  margin: 0;
}
.container_liens {
  display: flex;
  margin-left: 20%;
  justify-content: space-around;
}
.container_liens img {
  width: 55%;
}
.container_illustration {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 645px;
  margin-bottom: 70px;
}

.bloc_illustration {
  width: 100%;
  height: 645px;
}
.bloc_illustration img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.containerWork h3 {
  font-size: 25px;
  color: black;
  margin: 0;
  padding: 20px;
  border-top: 5px solid #5d2061;
  border-bottom: 5px solid #5d2061;
  display: flex;
  justify-content: center;
}
.containerWork p {
  font-size: 20px;
  color: burlywood;
  -webkit-text-stroke: 2px red;
  display: flex;
  justify-content: center;
}
.container_stats {
  display: flex;
  margin: 0;
  border-top: 5px solid #5d2061;
  height: 145px;
  align-items: center;
  justify-content: space-around;
}
.stats {
  height: 70%;
  display: flex;
  flex-direction: column;
  object-fit: contain;
}
.logo_in_work {
  height: 50%;
}
.container_stats p {
  margin-bottom: 50px;
}
.arrows_caroussel_right,
.arrows_caroussel_left {
  width: 10%;
  background-color: #5d2061;
  opacity: 100%;
}
.arrows_caroussel_right:hover,
.arrows_caroussel_left:hover {
  opacity: 90%;
}

.animate-projects {
  animation: rebond 2s ease 0s 1 normal forwards;
}
.animate-comments {
  display: grid;
  width: 50%;
  opacity: 100%;  
}
.animate-illustration {
  width: 50%;
  height: 100%;
  transition: width 0.5s, height 0.5s;
}
.animate-container_illustration {
  height: 500px;
  justify-content: space-between;
  transition: justify-content 0.5s, height 0.5s;
}

@keyframes rebond {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@keyframes rebondInverse {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  display: inline-block;
  /* overflow: hidden; */
}

.anim {
  display: flex;
  justify-content: center;
  font-size: 200px;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px red;
  animation: rebond 2s ease 0s 1 normal forwards;
}
.anim p {
  margin-top: 0;
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 200px;
}
label {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-top: 5px;
}
input[type="text"],
input[type="email"] {
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
input[type="submit"] {
  padding: 10px;
  font-size: 25px;
  color: white;
  -webkit-text-stroke: 1px red;
  background-color: #420247;
  border: 1px solid #5d2061;
  border-radius: 20px;
  margin-top: 10px;
}
input[type="submit"]:hover {
  background-color: #5d2061;
  font-size: 28px;
  padding: 8px;
}
fieldset {
  display: grid;
  border: 5px solid #5d2061;
  border-radius: 10px;
}
legend,
label {
  color: #5d2061;
}
textarea {
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.message {
  display: flex;
  font-size: 24px;
  color: red;
  justify-content: center;
}
footer {
  height: 150px;
  background-color: #5d2061;
}
footer p {
  display: flex;
  color: white;
  justify-content: center;
}
footer img {
  width: 45%;
}
.liens_socials {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  form{
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .container_illustration {
    display: grid;
  }
  .mobile {
    display: flex;
  }
  nav {
    height: fit-content;
  }
  .mobile a img {
    display: flex;
    width: 60%;
    object-fit: contain;
  }
  .desktop {
    display: none;
  }
  .container {
    width: 65%;
    margin-left: 17%;
  }
  .anim {
    font-size: 90px;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 40px;
    margin: 10%;
  }
  h3 {
    font-size: 14px;
  }
  .presentation p {
    font-size: 20px;
    margin: 10%;
  }
  .animate-illustration {
    width: 100%;
  }
  .containerWork p {
    font-size: 14px;
    margin: 14px;
  }
  form {
    margin: 5px;
  }
  .gallery {
    height: 400px;
  }
  .gallery_fit_content {
    height: fit-content;
  }

  .containerWork h3 {
    font-size: 14px;
  }
  .bloc_illustration {
    height: fit-content;
  }
  .animate-comments {
    width: 100%;
  }
  .container_stats {
    border: hidden;
    height: fit-content;
    width: 100%;
  }
  .stats {
    height: 100px;
  }
  .container_liens {
    width: 100%;
    overflow: hidden;
  }
  .container_liens img {
    width: 20%;
  }
  footer{
    justify-content: center;
    height:fit-content;
  }
 .liens_socials{
  flex-direction: column;
  gap:10px;
}
.liens_socials a{
  display: flex;
  justify-content: center;
}
.classement{
  position:absolute;
  top:-1%;
  left:42%;
}
}
